{% extends 'mailing/base.html' %}

{% block content %}
  <div class="container">
    <h1 class="text-center">Профиль пользователя</h1>
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <table class="table table-striped">
          <tr>
            <th>Email</th>
            <td>{{ user.email }}</td>
          </tr>
          <tr>
            <th>Имя</th>
            <td>{{ user.first_name }}</td>
          </tr>
          <tr>
            <th>Фамилия</th>
            <td>{{ user.last_name }}</td>
          </tr>
          <tr>
            <th>Аватар</th>
            <td>
              {% if user.avatar %}
                <img src="{{ user.avatar.url }}" alt="Аватар" class="img-thumbnail">
              {% else %}
                Нет аватара
              {% endif %}
            </td>
          </tr>
          <tr>
            <th>Номер телефона</th>
            <td>{{ user.phone_number }}</td>
          </tr>
          <tr>
            <th>Token</th>
            <td>{{ user.token }}</td>
          </tr>
        </table>
        <p class="text-center">
          <a href="{% url 'users:profile_update' %}" class="btn btn-primary">Обновить профиль</a>
        </p>
      </div>
    </div>
  </div>
{% endblock %}